{% extends "base.html" %}
{% block content %}

<section class="our-history section-main" id="our-history">
    <div class="description">
        <h1>Our History</h1>
        <p>
            Since its inception before 1385 DR, The Driftwood Tavern,
            currently under the management of Madame Rosene (picture), has woven a rich and varied history.
            Not only did it withstand the tumultuous events of the Spellplague and the eruption of Mount
            Hotenow,
            but it takes pride in emerging almost unscathed. After the eruption in 1451 DR, Madame Rosene
            repurposed the tavern,
            turning it into a refuge for refugees. It also served as a meeting place and makeshift city
            hall during the turbulent years preceding Dagult Neverember's reclamation of Neverwinter. <br>

            Around 1479 DR, The Driftwood Tavern became an unofficial headquarters for the Graycloaks,
            playing a significant role in their activities. <br>
            In 1488 DR, during a lively night at the tavern,

            Regis joined the festivities and had notable encounters with various characters, including Artemis
            Entreri,
            who later confronted him about a lack of secrecy. <br>
            Moving to the late 1490s DR,

            the tavern became a focal point for intrigue during Neverwinter's High Sun Games.
            Thieves, attempting to infiltrate Castle Never, found their plans disrupted by Jil Torbo,
            a member of the Absolution Council. Despite a tense encounter with the Neverwinter Guard,
            the thieves managed to escape, leaving a mark on the tavern's rich history.<br>
        </p>
    </div>
    <img class="image" src="../assets/media/images/madam-rosene.png" alt="portrait of Madame Rosene">
</section>

{% endblock %}