/* Aca estan los estilos generales que se aplican a app_menu */

@font-face {
    font-family: "Booksanity";
    src: url("../media/fonts/Bookinsanity.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mr Eaves Small Caps";
    src: url("../media/fonts/Mr-Eaves-Small-Caps.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scaly Sans";
    src: url("../media/fonts/Scaly-Sans.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scaly Sans Bold";
    src: url("../media/fonts/Scaly-Sans-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

:root {

    /* Colores */
    --colorBackgoundItemsTable: #d2e6c8;
    --colorCancelButton: #9C2B1B;
    --colorErrorMessage: #9C2B1B;
    --colorHeaderUnderline: #C0AD6A;
    --colorHeaderText: #58180D;
    --colorSendButton: #BBAD82;
    --colorSendButtonHover: #d2e6c8;

    /* Fuentes */
    --fontErrorMessage: "Scaly Sans";
    --fontForm: "Scaly Sans";
    --fontHeaderText: "Mr Eaves Small Caps";
    --fontItemsTableHeader: "Scaly Sans Bold";
    --fontItemsBody: "Scaly Sans";
    --fontParagraph: "Booksanity";
}

h1,
h2,
h3 {
    color: var(--colorHeaderText);
    font-family: var(--fontHeaderText);
}

p {
    font-family: var(--fontParagraph);
}