/* Aca estan los estilos para la app*/

@import url("./app.general.style.css");
@import url("./app.keyframe.style.css");

.app-menu {
    margin: 2em 1em;
    animation: show 1.5s ease-in-out;
}

.app-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-menu h1 {
    border-bottom: 3px solid var(--colorHeaderUnderline);
    padding-bottom: 0.1em;
    margin-bottom: 0.25em;
    font-size: clamp(1.5em, 5vw, 2em);
    position: relative;
    margin-bottom: 1em;
}

.app-menu h1>span {
    position: absolute;
    right: 0;
    top: 0.25em;
    font-size: 0.75em;
    color: var(--colorHeaderText)
}

.app-menu h2 {
    border-bottom: 3px solid var(--colorHeaderUnderline);
    padding-bottom: 0.1em;
    margin-bottom: 0.25em;
}

.app-menu a {
    text-decoration: none;
}

.app-menu a:hover {
    cursor: pointer
}

.app-menu-create,
.app-menu-delete,
.app-menu-detail {
    margin-bottom: 1em;
    padding: 5%;
    width: 85svw;
}

.app-menu-delete>h3,
.app-menu-detail>h3 {
    margin-top: 1.5em;
}

/* Tablas */
.app-menu-content table {
    width: 100%;
    border-collapse: collapse;
}

.food,
.drink {
    margin-top: 7em;
}

.app-menu-content table,
.app-menu-content th,
.app-menu-content td {
    padding: 0 2.5em 0 2.5em;
    text-align: center;
}

.app-menu-content thead {
    font-family: var(--fontItemsTableHeader);
    font-size: clamp(0.8em, 4vw, 1em);
    text-align: center;
}

.app-menu-content tbody {
    font-family: var(--fontItemsBody);
}

.app-menu-content tbody tr:nth-child(odd) {
    background-color: var(--colorBackgoundItemsTable);
}


.actions {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
}

/* Formulario */
.app-menu-form {
    padding-top: 1em;

}

.app-menu-form input {
    width: 100%;
    font-size: clamp(0.7em, 2vw, 1em);
    padding: 0.6em 0.6em;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    resize: none;
    font-family: var(--fontForm);
}

.app-menu-form div {
    margin-top: 1em;
    position: relative;
}

.app-menu-form label {
    font-size: clamp(0.9em, 2vw, 1em);
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
    font-family: var(--fontForm);
}

.app-menu-form input[type="text"],
.app-menu-form textarea,
.app-menu-form select {
    width: 100%;
    font-size: clamp(0.7em, 2vw, 1em);
    padding: 0.6em 0.6em;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    resize: none;
    font-family: var(--fontForm);
}

.app-menu-form input[type="submit"],
.app-menu-delete input[type="submit"],
.cancel-button,
.back-button {
    cursor: pointer;
    width: 100%;
    background-color: var(--colorSendButton);
    font-size: 1.3em;
    padding: 0.6em;
    border: none;
    margin-top: 1.5em;
}

.app-menu-form input[type="submit"]:hover,
.app-menu-delete input[type="submit"]:hover,
.back-button:hover {
    background-color: var(--colorSendButtonHover);
}

.cancel-button:hover {
    background-color: var(--colorCancelButton);
}

/* Mediaqueris */
@media screen and (min-width: 1080px) {
    .app-menu {
        height: max-content;
        display: flex;
        flex-direction: column;
        margin: 5em 3em;
    }

    .app-menu-create,
    .app-menu-delete,
    .app-menu-detail {
        width: 50%;
    }

    .app-menu-content .app-menu-tables {
        padding-top: 0;
        padding-bottom: 0;
    }

    .app-menu-tables {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5em;
    }

    .app-menu-tables table {
        width: 44svw;
    }

    .food,
    .drink {
        margin-top: 0;
    }

    /* Formularios */
    .app-menu-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .app-menu-form input {
        margin-bottom: 0;
    }
}