{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="app-menu app-menu-container">
        <div class="app-menu-create">
            <h1>{{current_page}}</h1>
            <form method="post" class="app-menu-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="app-form-field {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <div class="app-error-container">
                        {% for error in field.errors %}
                        <p class="app-error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                <input type="submit" value="{{ current_page }}" />
            </form>
            <a href="{% url 'menu:all' %}"><button class="cancel-button">Cancel</button></a>
        </div>
    </section>
</main>

{% endblock %}