{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="app-menu app-menu-container">
        <div class="app-menu-detail">
            <h1>{{ current_page }}</h1>

            <h3>Name:</h3>
            <p>{{ menu.name }}</p>

            <h3>Description:</h3>
            <p>{{ menu.description }}</p>

            <h3>Price:</h3>
            <p>{{ menu.price_amount }} {{ menu.currency }}</p>

            <h3>Type:</h3>
            <p>{{menu.item_type}}</p>

            <a href="{% url 'menu:all' %}"><button class="back-button">Back to Menu</button></a>
        </div>

    </section>
</main>

{% endblock %}