{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="app-menu">
        <div class="app-menu-content">
            <h1>Menu<span><a href="{% url 'menu:create' %}">Add item</a></span></h1>
            <p>
                Savor the essence of the Sword Coast at Driftwood Tavern, where every dish and drink is a harmonious
                blend of
                flavors inspired by the rich culinary heritage of the region. From the robust tastes of the land to the
                bounties of the sea, our menu is a celebration of the diverse and vibrant palette that defines the Sword
                Coast.
                Join us for a gastronomic journey that captures the spirit of this coastal paradise in every exquisite
                bite.
            </p>
            <div class="app-menu-tables">
                <div class="food">
                    <h2>Dishes</h2>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in menu_list %}
                            {% if item.item_type == "food" %}

                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price_amount }} {{ item.currency }}</td>
                                <td class="actions">
                                    <a href="{% url 'menu:detail' item.id %}">Detail</a><br>
                                    <a href="{% url 'menu:update' item.id %}">Update</a><br>
                                    <a href="{% url 'menu:delete' item.id %}">Delete</a>
                                </td>
                            </tr>

                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="drink">
                    <h2>Drinks</h2>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in menu_list %}
                            {% if item.item_type == "drink" %}

                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price_amount }} {{ item.currency }}</td>
                                <td class="actions">
                                    <a href="{% url 'menu:detail' item.id %}">Detail</a><br>
                                    <a href="{% url 'menu:update' item.id %}">Update</a><br>
                                    <a href="{% url 'menu:delete' item.id %}">Delete</a>
                                </td>
                            </tr>

                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}