{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="app-menu app-menu-container">
        <div class="app-menu-create">
            <h1>{{current_page}}</h1>
            <form method="post" class="app-menu-form">
                {% csrf_token %}
                {{ form.as_div }}

                {% for field in form %}
                {% if field.errors %}
                <div class="app-error-container">
                    {% for error in field.errors %}
                    <p class="app-error-message">{{ field.label_tag }}hola {{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}

                <input type="submit" value="{{ current_page }}" />
            </form>
            <a href="{% url 'menu:all' %}"><button class="cancel-button">Cancel</button></a>
        </div>
    </section>
</main>

{% endblock %}